// @import './colors';

@import "~inter-ui";

$pt-font-family: "Inter UI var alt",
    "Inter UI",
    -apple-system,
    "BlinkMacSystemFont",
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Open Sans",
    "Helvetica Neue",
    "Icons16", // support inline Palantir icons
    sans-serif !default;

$pt-grid-size: 12px;

$black: #1f1f21;
$white: #ddefff;
$light-gray5: $white;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';
@import '~@blueprintjs/core/src/blueprint';
@import '~bootstrap/scss/type';

$body-bg: $dark-gray3;
$sides-bg: $dark-gray2;

html {
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: $body-bg;
    line-height: 1.5;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    background-color: $dark-gray2;
}
::-webkit-scrollbar-corner {
    background-color: $dark-gray3;
}
::-webkit-scrollbar-thumb {
    background-color: $dark-gray4;
}

.col.fluid {
    min-height: 100vh;
}

code {
    background-color: #311f23 !important;
    color: #d77287 !important;
}

// Darker background for select headers
select optgroup{
    background: $dark-gray1;
}

// Widths as percent
@each $num in 10, 20, 30, 40, 50, 60, 70, 80, 90 {
    $percent: percentage($num / 100);

    .w-#{$num} {
        width: $percent !important;
    }
}

/////////

#root {
    @extend .container-fluid;
    @extend .h-100;

    > section {
        @extend .row;
        @extend .no-gutters;
        @extend .h-100;
        @extend .mx-0;
    }

    .flex-grow {
       flex: 1;
    }
}

// Shows current Bootstrap screen size
#bootstrap-size {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

// Top navigation bar
#top-bar {
    @extend .row;

    .#{$ns}-navbar {
        background-color: $sides-bg;
        box-shadow: none;
        z-index: 19;
    }
}

#contents {
    @extend .row;

    position: relative;
}

#sidebar {
    @extend .col-md-4;
    @extend .d-flex, .flex-column;

    background-color: $sides-bg;
    max-width: 300px;
    padding-right: 0;
    padding-left: 0;

    nav.top {
        @extend .d-flex, .flex-column, .mb-auto;

        position: sticky;
        top: $pt-navbar-height;
        z-index: 10;
    }

    nav.bottom {
        position: sticky;
        bottom: 0;
        z-index: 10;
    }

    .sidebar-group {
        @extend .ml-2, .mr-1, .my-3;
        @extend .d-flex, .align-items-center, .align-items-stretch;

        h2 {
            margin-bottom: 0;
        }

        button {
            border-radius: inherit;
        }
    }

    .small-text {
        @extend .#{$ns}-text-muted;
        @extend .#{$ns}-text-small;

        display: block;
    }

    // Divider too dark on dark sidebar color
    .#{$ns}-dark & .#{$ns}-divider {
        border-color: rgba($gray5, 0.4);
    }
}

main {
    @extend .col, .fluid, .d-flex, .flex-column;
    @extend .px-0;

    padding-top: $pt-navbar-height;

    // Contains main page contents
    > .page {
        @extend .p-3;

        // Page title/header
        .page-header {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;
            flex-wrap: wrap;

            .page-subtitle {
                @extend .#{$ns}-text-muted;
                margin-left: 2rem;
            }

            .page-options {
                margin-left: auto;
                display: flex !important;

                &.center {
                    margin-right: auto;
                }
            }
        }

        .#{$ns}-text-large > * {
            font-size: $pt-font-size-large;
        }
    }

}

#bottom-bar {
    background-color: $sides-bg;
    margin-top: auto;
}

// Create New Service cards
.service-box-container {
    @extend .col-12, .col-sm-6, .col-md-12, .col-lg-6, .col-xl-4;
    @extend .mb-5;

    .card {
        height: 100%;
        display: flex;
        flex-direction: column;

        .logo {
            height: 80px;
            text-align: center;

            width: 100%;
            max-width: 300px;
            margin: -45px auto 15px;

            img {
                max-width: 100%;
                max-height: 75px;
                filter: drop-shadow(1px 1px 0 #fff)
            }
        }

        p.description {
            padding-bottom: 15px;
        }

        .button-group-container {
            @extend .d-flex, .flex-wrap, .justify-content-between;

            margin-top: auto;
        }
    }
}

// Add spacing around Callout
.#{$ns}-callout {
    margin-top: 15px;
    margin-bottom: 15px;
}

// Modal/Dialog has a weird halo around it
.#{$ns}-dark & .#{$ns}-dialog {
    box-shadow: none;
}

// Service create/update form
form.service-form {
    .#{$ns}-divider {
        @extend .my-4;
    }

    .helper-form {
        @extend .row;

        > .left {
            @extend .col-12, .col-xl-4;
        }

        > .right {
            @extend .col;

            .#{$ns}-form-group {
                > label {
                    @extend .col-3;
                }

                .#{$ns}-form-content {
                    @extend .col-9;
                }
            }
        }
    }
}

// Small, muted text under form fields
.helper-text {
    @extend .#{$ns}-form-helper-text;

    display: block;
    min-height: 21px;
}

.table-scroll {
    max-height: 290px;
    overflow-y: scroll;

    th {
        position: sticky;
        top: 0;
        z-index: 15;
        background-color: $dark-gray2;
        box-shadow: inset 0 -1px 0 0 rgba(183, 197, 211, 0.15);
    }

    tbody td {
        box-shadow: none !important;
    }
}

// Checkbox arrow does not show. Bug in blueprint
.#{$ns}-control {
    &.#{$ns}-checkbox input:checked~.#{$ns}-control-indicator:before {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 5c-.28 0-.53.11-.71.29L7 9.59l-2.29-2.3a1.003 1.003 0 0 0-1.42 1.42l3 3c.18.18.43.29.71.29s.53-.11.71-.29l5-5A1.003 1.003 0 0 0 12 5z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E")
    }
}

// Multi-select tag dropdown fixes
.#{$ns}-form-group {
    .multi-select-tag {
        .#{$ns}-popover-target {
            width: 100%;
        }

        .#{$ns}-menu {
            max-height: 300px;
            overflow: auto;
        }
    }
}

.CodeMirror-container {
    position: relative;

    .CodeMirror {
        height: 650px;
    }

    .corner-text {
        position: absolute;
        top: 10px;
        right: 30px;
        z-index: 2;

        // To match <Button /> padding
        .custom {
            padding: 6px 12px;
            cursor: default;
        }
    }
}

// Icon to the right of form fields when error exists
form .error-icon {
    @extend .d-flex, .justify-content-center, .align-items-center;
    flex: none !important;
    padding-left: 10px;
}

// Add border color to <select> when <FormGroup> has an `intent`
@each $intent, $color in $pt-intent-colors {
    .#{$ns}-intent-#{$intent} {
        select {
            @include pt-input-intent($color);

            .#{$ns}-dark & {
                @include pt-dark-input-intent($color);
            }
        }
    }
}
